<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.UI.Xaml" version="2.8.7-prerelease.241119001" targetFramework="native" />
  <package id="Microsoft.VCRTForwarders.140" version="1.1.0" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.2849.39" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.240405.15" targetFramework="native" />
  <package id="Tenkai.UWP" version="0.1.4-alpha" targetFramework="native" />
  <package id="WinUIEdit.Uwp" version="0.0.3-prerelease" targetFramework="native" />
</packages>